html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #2b2b2b;
  color: #fff;
  border-radius: 24px;
  background-image: url("./img/lines-left.svg"), url("./img/lines-right.svg"),
    url("./img/right-circle.svg"), url("./img/center-bg.svg");
  background-position: left -100px center, right -100px center,
    right -200px bottom -200px, center center;
  background-repeat: no-repeat;
  background-size: 446px 54px, 446px 54px, 598px 598px, 760px 211px;
}
